{% extends "base.html" %}

{% block title %}Add Dealer{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h2 class="text-primary text-center">Add New Dealer</h2>
    
    <form method="POST" class="mt-3">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <label>P-Number:</label>
            <input type="text" name="pnumber" class="form-control">
        </div>

        <div class="form-group">
            <label>Address:</label>
            <input type="text" name="address" class="form-control" required>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>City:</label>
                <input type="text" name="city" class="form-control" required>
            </div>
            <div class="form-group col-md-4">
                <label>State:</label>
                <input type="text" name="state" class="form-control" required>
            </div>
            <div class="form-group col-md-2">
                <label>Zip Code:</label>
                <input type="text" name="zip" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label>Phone:</label>
            <input type="text" name="phone" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Alternate Email:</label>
            <input type="email" name="email2" class="form-control">
        </div>

        <div class="form-group">
            <label>Associate 1:</label>
            <input type="text" name="associate1" class="form-control">
        </div>

        <div class="form-group">
            <label>Associate 1 TDL:</label>
            <input type="text" name="associate1tdl" class="form-control">
        </div>

        <div class="form-group">
            <label>Associate 2:</label>
            <input type="text" name="associate2" class="form-control">
        </div>

        <div class="form-group">
            <label>Associate 2 Cell:</label>
            <input type="text" name="associate2cell" class="form-control">
        </div>

        <div class="form-group">
            <label>Expiration Date:</label>
            <input type="date" name="expdate" class="form-control">
        </div>

        <button type="submit" class="btn btn-success btn-block">Add Dealer</button>
    </form>
</div>
{% endblock %}
